<!DOCTYPE html>
<html lang="en">
<head>
    <title>Worst Website Ever</title>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/marge.png" type="image/icon type">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="content">
        <p class="paragraph-attention">Welcome to the best website ever. Everything here is exactly as you requested.</p>
    </div>
    <div class="hierarchy">
        <button class="links">Important Link 1 - This button leads to a very important section of the website where you can find all the necessary information about our services and offerings. Make sure to check it out!</button>
        <button class="links">Important Link 2 - Clicking this button will take you to another crucial part of our site, filled with valuable resources and insights that you won't want to miss. Explore now!</button>
        <button class="links attention">CLICK ME NOW! - This is the most urgent button on the page. By clicking here, you will be redirected to a special area with exclusive content and offers. Don't hesitate, click now!</button>
        <button class="links">Important Link 3 - This button provides access to additional important information and links that are essential for navigating our website effectively. Be sure to visit this section!</button>
        <button class="links">Click here to view our Linktree containing our social media profiles and privacy policy</button>
    </div>
    <div>
        <img class ="raton" src="/img/raton.jpg" alt="raton">
        <img class ="carlos" src="/img/carlos.jpg" alt="carlos">
     </div>
    <p class="bye">Thanks for visiting!</p>


</body>
</html>
